<% unless @user.errors.blank? %>
<tr>
  <td colspan='2'><%= error_messages_for(@user) %></td>
</tr>
<% end %>
<tr>
  <td><%= f.label(:username) %></td>
  <td><%= f.text_field(:username) %></td>
</tr>
<tr>
  <td><%= f.label(:password) %></td>
  <td><%= f.password_field(:password) %></td>
</tr>
<tr>
  <td><%= f.label(:email) %></td>
  <td><%= f.text_field(:email) %></td>
</tr>
<% if controller.action_name == 'new' %>
  <tr>
    <td><%= f.label(:email_confirmation) %></td>
    <td><%= f.text_field(:email_confirmation) %></td>
  </tr>
<% end %>
<tr>
  <td><%= f.label(:first_name) %></td>
  <td><%= f.text_field(:first_name) %></td>
</tr>
<tr>
  <td><%= f.label(:last_name) %></td>
  <td><%= f.text_field(:last_name) %></td>
</tr>
