<h1>User details for <%= @user.username %></h1>

<table>
  <tr>
    <td>Name:</td>
    <td><%= @user.first_name %> <%= @user.last_name %></td>
  </tr>
  <tr>
    <td>Username:</td>
    <td><%= @user.username %></td>
  </tr>
  <tr>
    <td>Email:</td>
    <td><%= @user.email %></td>
  </tr>
</table>